@model DoAnCoSoWeb.ViewModels.HomeViewModels

<div class="header_srch-warp">
    <input type="text" class="header_srch-in" placeholder="Tìm kiếm">
    <div class="header_srch-history">
        <h3 class="header_srch-history-header">Lịch sử tìm kiếm</h3>
        <ul class="header_srch-history-list">
            <li class="header_srch-history-items">
                <a href="">Ram msi 16gb</a>
            </li>

            <li class="header_srch-history-items">
                <a href="">Card RTX4070</a>
            </li>
        </ul>
    </div>
</div>

<button class="header_srch-btn">
    <i class="header_srch-btn-icon fa-solid fa-magnifying-glass"></i>
</button>
