@model DoAnCoSoWeb.Models.Loaisanpham

@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - DoAnCoSoWeb</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/fonts/fontawesome-free-6.5.2-web/css/all.css" />
	<link rel="stylesheet" href="~/DoAnCoSoWeb.styles.css" asp-append-version="true" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f8f9fa;
		}
	</style>
	<script>
		$(document).ready(function () {
			$('.list-item > a').click(function (e) {
				e.preventDefault();
				$(this).next('ul').slideToggle();
			});
		});
	</script>
</head>
<body>
	<div class="container-admin">
		<main class="Admin-home">
			<nav class="menu-admin-home" id="admin">
				<div class="title-menu-admin">
					<h1 class="title-admin">Quản Lý</h1>
				</div>
				<ul class="list">
					<li class="list-item">
						<a class="a-admin" href="#" title="Quản lý sản phẩm">
							Quản lý sản phẩm
						</a>
						<ul>
							<li><a class="mini-item" href="danh-sach-san-pham">Danh Sách Sản Phẩm</a></li>
							<li><a class="mini-item" href="them-san-pham">Thêm Sản Phẩm Mới</a></li>
						</ul>
					</li>
					<li class="list-item">
						<a class="a-admin" href="#" title="Quản lý đơn hàng">
							Quản lý đơn hàng
						</a>
					</li>
					<li class="list-item">
						<a class="a-admin" href="#" title="Quản lý danh mục">
							Quản lý danh mục
						</a>
						<ul>
							<li><a class="mini-item" href="danh-sach-loai-san-pham">Danh Sách Danh Mục</a></li>
							<li><a class="mini-item" href="#">Thêm Danh Mục Mới</a></li>
						</ul>
					</li>
					<li class="list-item">
						<a class="a-admin" href="#" title="Quản lý doanh thu">
							Quản lý doanh thu
						</a>
						<ul>
							<li><a class="mini-item" href="#">Doanh Thu Tháng</a></li>
							<li><a class="mini-item" href="#">Doanh Thu Năm</a></li>
						</ul>
					</li>
					<li class="list-item">
						<a class="a-admin" href="#" title="Quản lý email liên hệ">
							Quản lý email liên hệ
						</a>
					</li>
				</ul>
			</nav>
		</main>
		<div class="container-pagebody">
			<div class="content-pagebody">
				<div class="page-header">
					<h3 class="page-title">Trang Quản Trị</h3>
				</div>
				<div>
					<dl class="row">
						<dt class="col-sm-2">
							@Html.DisplayNameFor(model => model.Name)
						</dt>
						<dd class="col-sm-10">
							@Html.DisplayFor(model => model.Name)
						</dd>
					</dl>
				</div>
				<div>
					<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
					<a asp-action="Index">Back to List</a>
				</div>

			</div>
		</div>
</body>
</html>