@model DoAnCoSoWeb.ViewModels.UserViewModels

<form asp-action="ChangePasswordUser" method="post">
    <div class="auth-frm__group">
        <label class="auth-frm__label">Mật khẩu cũ</label>
        <input type="text" class="auth-frm__in" name="ChangePassword.OldPassword" value="@Model.ChangePassword.OldPassword" readonly />
    </div>

    <div class="auth-frm__group">
        <label class="auth-frm__label">Mật khẩu mới</label>
        <input type="password" class="auth-frm__in" name="ChangePassword.NewPassword" placeholder="Mật khẩu mới" required />
        <span asp-validation-for="ChangePassword.NewPassword" class="text-danger"></span>
    </div>

    <div class="auth-frm__group">
        <label class="auth-frm__label">Xác nhận mật khẩu mới</label>
        <input type="password" class="auth-frm__in" name="ChangePassword.ConfirmPassword" placeholder="Xác nhận mật khẩu mới" required />
        <span asp-validation-for="ChangePassword.ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="auth-frm__control">
        <button type="submit" class="btn btn--primary">Đổi mật khẩu</button>
    </div>
</form>
