@model DoAnCoSoWeb.ViewModels.UserViewModels



@if (!User.Identity.IsAuthenticated)
{
    <p>Vui lòng đăng nhập để thực hiện thao tác này.</p>
}
else
{
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

    @if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success">
            @ViewBag.SuccessMessage
        </div>
    }

    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <h1>Đổi mật khẩu</h1>
        </div>
        <div class="form-group">
            <label class="col-md-3">Mật khẩu củ</label>
            <input asp-for="ChangePassword.OldPassword" class="form-control"/>
        </div>

        <div class="form-group">
            <label class="col-md-3">Mật khẩu mới</label>
            <input asp-for="ChangePassword.NewPassword" class="form-control" />
        </div>

        <div class="form-group">
            <label class="col-md-3">Xác nhận mật khẩu</label>
            <input asp-for="ChangePassword.ConfirmPassword" class="form-control" />
        </div>

        <button style="margin-left: 525px; margin-top: 20px;" type="submit" class="btn btn-pr">Đổi mật khẩu</button>  
    }
}
