@model DoAnCoSoWeb.ViewModels.HomeViewModels

<div class="header_srch-warp">
    <form asp-action="_Search" asp-controller="Home" method="get">
        <div class="header_srch_list">
            <input type="text" class="header_srch-in" name="query" placeholder="Enter search keyword" /> <button class="header_srch-btn"><i class="header_srch-btn-icon fa-solid fa-magnifying-glass"></i></button>
        </div>

    </form>

</div>


